endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root:@localhost/qbcorev4"
set mysql_slow_query_warning 250
set mysql_debug 0
set es_enableCustomData 1
exec resources/sil-permissions.cfg

# FiveM Core Resources
start mapmanager
start spawnmanager
start sessionmanager
start fivem
start hardcap
start debug
start baseevents

exec resources.cfg

# Allows lambda

sv_scriptHookAllowed 0
sv_licenseKey "cfxk_9sl8pfTbkHdfOh4hqxkg_4aZAG4"

set steam_webApiKey "2FC963D9740B9B86AE258DF6265884FC"

# tags

sets tags "Serious Roleplay, Realistic, Police, EMS, Mechanic, Lawyer, Cardealer,"

sets Discord ""

# Banner

sets banner_detail ""
sets banner_connecting ""

sv_hostname "NADRP Qbus"

sets sv_projectName "NADRP Qbus"

sets sv_projectDesc "  NADRP Qbus"


sets locale "en-US" 

# Nested configs!

#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "NADRP Qbus"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Add system admins

add_principal group.moderator
add_ace group.admin command allow # allow all commands

add_principal identifier.fivem:233598 group.admin # Colonelx

# Hide player endpoints in external log output.
sv_endpointprivacy true

# max clients
sv_maxclients 32
sv_useDirectListing true
setr voice_useSendingRangeOnly true
setr voice_use3dAudio true
set sv_enforceGameBuild 2545

set onesync_enabled 1